.searchBox {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: rgba(255, 253, 253, 0.3);
  padding: 3rem;
  text-align: center;
  width: 25rem;
  z-index: 10;
  position: fixed;
  top: 30vh;
  left: calc(50% - 12.5rem);
}

.control {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.control p {
  text-align: center;
  color: #082267;
  font-weight: lighter;
  font-size: x-large;
}

.control input {
  display: block;
  font: inherit;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  padding: 1.5rem 0.25rem;
  margin: 0.5rem;
}

.control button {
  font: inherit;
  color: snow;
  background-color: #082267;
  border-radius: 10px;
  border: 1px solid #082267;
  padding: 1.5rem 0.25rem;
  margin: 0.5rem;;
}

.videoPlayer {
  background-color: black;
  height: 100vh;
}

.cityName {
  position: absolute;
  top: 2rem;
  left: 1rem;
  color: white;
  font-family: "Courier Prime", monospace;
}

.cityName h1 {
  font-size: 30px;
}

.cityName p {
  font-size: 25px;
}
